<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RemoteHelpLogger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <RemoteHelpLogger.Properties.Settings>
            <setting name="rh_auth_method" serializeAs="String">
                <value>single</value>
            </setting>
            <setting name="rh_auto_lofogg_after_session" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="rh_ldap_domain" serializeAs="String">
                <value>testdomain.local</value>
            </setting>
        </RemoteHelpLogger.Properties.Settings>
    </userSettings>
</configuration>